{% extends 'base.html' %}

{% block nav %}{% endblock %}
{% block content %}
    <p>Hello {{ current_user.name }}!</p>
    <div class="notes">
    {% for note in current_user.notes %}
        <div class="note">
            <h2> {{ note.title }}</h2>
            <p> {{ note.content }}</p>
        </div>
    {% endfor %}
    </div>
    <form method="post" action="">
        <div> {{ form.hidden_tag() }} </div>
        <div> {{ form.title.label }} {{ form.title() }} </div>
        <div> {{ form.content.label }} {{ form.content() }} </div>
        <div> {{ form.submit() }} </div>
    </form>
{% endblock %}
