<!DOCTYPE html>
<html>
    <head>
        {% if title %}
        <title>{{title}}</title>
        {% else %}
        <title>Note App</title>
        {% endif %}
        <meta charset="utf-8">
    </head>
    <body>
        {% for message in get_flashed_messages() %}
        {{ message }}
        {% endfor %}
        {% block nav %}
        <ul>
            <li><a href="{{ url_for('start_bp.start')}}">Note App</a></li>
            <li><a href="{{ url_for('auth_bp.register')}}">Register</a></li>
            <li><a href="{{ url_for('auth_bp.login')}}">Login</a></li>
        </ul>
        {% endblock %}
        {% block content %}{% endblock %}
    </body>
</html>