{% extends 'base.html'%}

{% block nav %}
    <ul>
        <li><a href="{{ url_for('index_bp.index')}}">Note App</a></li>
        <li><a href="{{ url_for('auth_bp.register')}}">Register</a></li>
        <li><a href="{{ url_for('auth_bp.login')}}">Login</a></li>
    </ul>
{% endblock %}
{% block content %}
    <p>Login</p>
    <!-- the login form, using flask-wtf forms to display labels and fields -->
    <form method="post" action="">
        <div>{{ form.hidden_tag() }}</div>
        <div>{{ form.email.label }} {{ form.email() }}</div>
        <div>{{ form.password.label }} {{ form.password() }}</div>
        <div>{{ form.recaptcha }}</div>
        <div>{{ form.submit() }}</div>
    </form>
{% endblock %}
